#headerblock {
	/*background: rgba(255,0,0,0.5); this should be totally covered byt eh image */
	/*height: 670px;*/
}

#headertextblock{
	/*background: rgba(200,200,200,0.5); */
	/*height:670px;*/
}

#headertext{
	background: rgba(89,136,255,1); 
	padding: 40px;
	margin: 50px;
	border-radius:0px;
	color: rgb(233,233,233);
	font-weight: lighter;
	font-size: 16px;
	letter-spacing: 1px;
	-webkit-font-smoothing: subpixel-antialiased;
	/*-webkit-font-smoothing: subpixel-antialiased;*/
	/*-webkit-text-stroke:2px transparent;*/
}


#headertext h1, #headertext a{
	color: #303030;
	font-weight: normal;
}

#mynavbar{
	background: rgba(89,136,255,1); 
	border-radius:0; 
	padding:0px;
	height:70px;

}

#navoptions{
	padding-top:20px;
}



