.about-div {
    padding-top: 15vh;
    padding-bottom: 30px;

}

.about-div h1{
    font-size: 64px;
}

.about-content {
    width: 80%;
}

.about-content p {
    font-size: 16px;
    line-height: 24px;
}

.code-link {
    width: 80px;
    height: 80px;
    margin: 36px 16px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.reagan-gif {
    background-image: url('../static-resources/r_couch1.png');
    height: 239px;
    width: 400px;
    animation: frames 4s infinite;
    margin-right: 64px;
}

@keyframes frames {
    0% {
        background-image: url('../static-resources/r_couch1.png'); 
    }
    59% {
        background-image: url('../static-resources/r_couch1.png'); 
    }
    60% {
        background-image: url('../static-resources/r_couch2.png');
    }
    70% {
        background-image: url('../static-resources/r_couch3.png');
    }
    80% {
        background-image: url('../static-resources/r_couch2.png');
    }
    90% {
        background-image: url('../static-resources/r_couch3.png');
    }
    100% {
        background-image: url('../static-resources/r_couch2.png');
    }
}


@media only screen and (max-width: 769px) {
    .about-content {
        width: 100%;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    .reagan-gif {
        margin-right: 0;
    }
  }