body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#headertext{
	background: rgba(89,136,255,1); 
	padding: 40px;
	margin: 50px;
	border-radius:0px;
	color: rgb(233,233,233);
	font-weight: lighter;
	font-size: 16px;
	letter-spacing: 1px;
	-webkit-font-smoothing: subpixel-antialiased;
}

#headertext h1, #headertext a{
	color: #303030;
	font-weight: normal;
}

.container {
	width: 80%;
	background-color:#eee;
	margin: 30px auto;
	padding: 20px;
}

.doodle {
	width: 12%;
}

.title {
	margin-bottom: 20px;
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.half-col { 
	width: 50%;
	padding: 10px;
}

.third-col {
	width: 33%;
	padding: 10px;
}

.twothird-col {
	width: 66%;
}

.section {
	padding-bottom: 20px ;
	padding-left: 20px;
	width: 88%;
}

.title-section {
	display: flex;
	flex-direction: row;
}

.section-title {
	margin: 10px;
}

@media only screen and (max-width: 600px) {
	.half-col, .third-col  { 
		width: 100%;
	}

	.row {
		flex-direction: column-reverse;
	}

	.title-section {
		flex-direction: column;
	}

	.section {
		padding-left: 0;
	}
}
