/* 

#headertext{
	background: rgba(89,136,255,1); 
	padding: 40px;
	margin: 50px;
	border-radius:0px;
	color: rgb(233,233,233);
	font-weight: lighter;
	font-size: 16px;
	letter-spacing: 1px;
	-webkit-font-smoothing: subpixel-antialiased;

}


#headertext h1, #headertext a{
	color: #303030;
	font-weight: normal;
}

#mynavbar{
	background: rgba(89,136,255,1); 
	border-radius:0; 
	padding:0px;
	height:70px;
	z-index: 10;
}

#navoptions{
	padding-top:20px;
}


  */